html{
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0.5rem;
    z-index: 100;
}

nav {
    width: min(80rem,95vw);
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 20px;
    padding: 0.25rem 1rem;
    background: linear-gradient(rgba(149, 191, 246, 0.3), rgba(149, 191, 246, 0.3));
    backdrop-filter: blur(5px);
}

button.logo {
    border: 0;
    background-color: transparent
}

svg {
    width: 4rem;
    color: var(--dark-color);
}

form.search {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

form.search input {
    width: max(35vw, 10rem);
    border: 1px solid rgba(67, 66, 66, 0.85);
    border-radius: 5px;
    padding-left: 0.5rem;
}

from.search button.search_button {
    padding: 0;
}

form.search button.search_button svg{
    width: 1.65rem;
}

form button, nav button{
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    height: 2.5rem;
}

form button.smart_button {
    background-color: var(--tertiary-color);
}

form button.smart_button svg{
    padding: 0;
    width: 1.75rem;
}

nav > button.logo {
    width: 10rem;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    height: 4rem;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 10rem;
}

nav div button.profile {
    background-color: transparent;
    border: 0;
    width: 4.5rem;
    height: 4rem;
}

button.profile svg {
    width: 3rem;
}

label.label {
    display: none;
}