div.cassette_register_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}

form.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

form.register_form input.checkbox {
    margin-right: 0.5rem;
}

form.register_form div.condition {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.85rem;
}

form.register_form div.condition_container {
    margin-left: 1rem;
}

form.register_form div.condition p {
    margin-bottom: 0;
}

form.register_form div.register_button_container p {
    width: 100%;
    margin-top: 0.25rem;
    text-align: center;
}

form.register_form a.register_link {
    color: var(--tertiary-color);
    text-decoration: none;
}

form.register_form em.required {
    color: var(--tertiary-color);
}

form.register_form a.register_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

form input.register_input {
    color: black;
    width: min(40rem, 80vw);
    padding: 0.5rem;
    border: 1px solid var(--dark-color);
    border-radius: 6px;
}

form input.invalid_input {
    color: var(--invalid);
    border: 1px solid var(--invalid);
}

form label.hidden_label {
    display: none;
}

form label.register_label {
    margin-bottom: 0.25rem;
}

form button.register_button {
    width: min(40rem, 80vw);
    padding: 0.75rem;
    border: 1px solid var(--dark-color);
    border-radius: 6px;
}

form button.register_button:hover {
    box-shadow: 1px 1px 3px var(--dark-color);
}

form div.invalid_message {
    color: var(--invalid);
}