div.cassette_login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}

div.cassette_login_container h1 {
    color: rgba(67, 66, 66, 0.85);
}

form.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

form.login_form div.login_button_container p {
    width: 100%;
    margin-top: 0.25rem;
    text-align: center;
}

form.login_form input.checkbox {
    margin-right: 0.5rem;
}

form.login_form a.register_link {
    color: var(--tertiary-color);
    text-decoration: none;
}

form.login_form a.register_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

form input.login_input {
    color: black;
    width: min(40rem, 80vw);
    padding: 0.5rem;
    border: 1px solid var(--dark-color);
    border-radius: 6px;
}

form input.invalid_input {
    color: var(--invalid);
    border: 1px solid var(--invalid);
}

form label.hidden_label {
    display: none;
}

form label.login_label {
    margin-bottom: 0.25rem;
}

form button.login_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(40rem, 80vw);
    padding: 0.75rem;
    border: 1px solid var(--dark-color);
    border-radius: 6px;
}

form button.login_button:hover {
    box-shadow: 1px 1px 3px var(--dark-color);
}

form div.invalid_message {
    color: var(--invalid);
}